body {
    font-family: Arial, sans-serif;
    font-size: 19px;
    padding: 20px;
    background-color: rgb(102, 136, 147);
    background-size: cover;
    color: #333;
}
h1 {
    text-align: center;
    color: #3c009bfd;
}
header {
    background-color: #385661;
    color: white;
    padding: 20px;
    text-align: center;
    border-bottom: 5px solid #f8bbd0;
}
header img {
    width: 100%;
    height: 300px;
    display: block;
}

nav {
    background-color: #646565;
    padding: 10px 0;
}
@media (max-width: 768px) {
  .navbar {
    display: block;
    text-align: center;
  }
}
.nav-links {
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 0;
    padding: 0;
}
.nav-links li a:hover {
    background-color: #dfdddd;
}
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
}
.grid a {
    text-align: center;
    text-decoration: none;
    color: black;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
    transition: transform 0.2s, box-shadow 0.2s;
}
.grid a:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}

.grid img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
}
.formulaire {
    max-width:500px;
    margin: auto;
    background-color: rgba(228, 226, 226, 0.95);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.1);
}
.formulaire label {
    display: block;
    margin-top: 15px;
    font-weight: bold;
}
.formulaire input,
.formulaire select,
.formulaire textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.formulaire button {
    margin-top: 20px;
    width: 100%;
    padding: 12px;
    background-color: #005b4f;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}
.formulaire button:hover {
    background-color: #007965;
}
footer {
    font-size: 10px;
    background-color: #385661;
    color: white;
    padding: 20px;
    text-align: center;
    border-bottom: 5px solid #f8bbd0;
}
